:root {
  --primary-color: #3884F5;
  --secondary-color: #EB6695;
  --text-gray: #9399A1;
  --gray-300: #B3B8C1;
  --text-color: #2B282F;
  --border-color: #EDF0F4;
  --color-white: #fff;
  --primary-bg-color: #E0EEFF;
  --secondary-bg-color: #FFEAF1;
  --gray-bg-color: #FAFBFC;
  --yellow-color: #FFEB53;
}

::-webkit-scrollbar {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video, input, button, select, textarea {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

body, input, select, textarea, button {
  border: none;
  background: none;
  font-size: 14px;
  letter-spacing: -0.5px;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

input {
  vertical-align: middle;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
input::-webkit-input-placeholder {
  color: var(--text-gray);
}
input:-ms-input-placeholder {
  color: var(--text-gray);
}
input:-moz-read-only {
  background-color: var(--gray-bg-color);
}
input:read-only {
  background-color: var(--gray-bg-color);
}

button {
  cursor: pointer;
  outline: none;
}

select {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
select::-ms-expand {
  display: none;
}

fieldset, img {
  border: 0;
}

ol, ul, li {
  list-style: none;
}

li {
  display: block;
}

address, em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--text-color);
  outline: none;
}

iframe {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

html {
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 400;
}

textarea {
  resize: none;
  border: 1px solid var(--border-color);
}

table {
  border: none;
  background: none;
  color: var(--text-color);
}

::-moz-placeholder {
  color: var(--text-gray);
}

::placeholder {
  color: var(--text-gray);
}

/* dot effect common */
.dot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* dot effect common */
.contents_wrap {
  padding: 50px 0 60px;
}

.react-datepicker__day:nth-child(1) {
  color: var(--secondary-color) !important;
}

.react-datepicker__day:nth-child(7) {
  color: var(--primary-color) !important;
}

.react-datepicker__day-name:nth-child(1) {
  color: var(--secondary-color) !important;
}

.react-datepicker__day-name:nth-child(7) {
  color: var(--primary-color) !important;
}

.react-datepicker,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--primary-color) !important;
}

.react-datepicker,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--text-color) !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 100px !important;
  background-color: var(--primary-bg-color) !important;
  color: var(--primary-color) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--selected:not([aria-disabled=true]):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled=true]):hover,
.react-datepicker__day--in-range:not([aria-disabled=true]):hover,
.react-datepicker__month-text--selected:not([aria-disabled=true]):hover,
.react-datepicker__month-text--in-selecting-range:not([aria-disabled=true]):hover,
.react-datepicker__month-text--in-range:not([aria-disabled=true]):hover,
.react-datepicker__quarter-text--selected:not([aria-disabled=true]):hover,
.react-datepicker__quarter-text--in-selecting-range:not([aria-disabled=true]):hover,
.react-datepicker__quarter-text--in-range:not([aria-disabled=true]):hover,
.react-datepicker__year-text--selected:not([aria-disabled=true]):hover,
.react-datepicker__year-text--in-selecting-range:not([aria-disabled=true]):hover,
.react-datepicker__year-text--in-range:not([aria-disabled=true]):hover {
  border-radius: 100px !important;
  background-color: var(--primary-color) !important;
  color: var(--color-white) !important;
}

.react-datepicker {
  font-family: inherit !important;
  font-size: 13px !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 8px !important;
}

.react-datepicker-popper {
  transform: none !important;
  top: 45px !important;
}
.react-datepicker-popper .react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  border-bottom: 1px solid var(--border-color) !important;
  background-color: var(--color-white) !important;
}

.react-datepicker__navigation-icon {
  font-size: inherit;
  top: auto;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: var(--text-color) !important;
  top: 6px !important;
  height: 9px !important;
  width: 9px !important;
  border-width: 1px 1px 0 0 !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day--outside-month {
  color: var(--text-gray) !important;
  pointer-events: none;
}/*# sourceMappingURL=common.css.map */