@mixin pos-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin pos-x-center {
    left: 50%;
    transform: translateX(-50%);
}

@mixin pos-y-center {
    top: 50%;
    transform: translateY(-50%);
}

@mixin before-after {
    position: absolute;
    content: '';
}

@mixin flex-box($row, $center, $flex-start) {
    display: flex;
    flex-direction: $row;
    align-items: $center;
    justify-content: $flex-start;
}