.top_banner {
  padding: 0 20px;
  padding-top: 20px;
  background: url("../../asstes/images/icons/ico_main.png") right 5px bottom no-repeat;
  background-size: 120px;
}

.text_box {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  padding: 13px 35px;
  position: relative;
  z-index: -1;
}

.my_binder_wrap {
  margin-top: 50px;
  padding: 0 20px;
}

.desc {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-gray);
  letter-spacing: 0;
}

.title_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.title_btn .title {
  font-size: 16px;
  letter-spacing: -1px;
}
.title_btn .title > span {
  color: var(--primary-color);
  position: relative;
  z-index: 1;
}
.title_btn .title > span::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: 6px;
  background: var(--primary-bg-color);
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.title_btn .btn {
  font-size: 12px;
  color: var(--text-gray);
}

.empty_box {
  height: 190px;
  width: calc(100% - 40px);
  margin: 0 auto;
  border: 1px dashed var(--primary-bg-color);
  border-radius: 8px;
  text-align: center;
  color: var(--text-gray);
  font-size: 13px;
  display: none;
}
.empty_box .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.empty_box .icon {
  font-size: 22px;
  color: var(--primary-bg-color);
}

.my_binder_list {
  padding-left: 20px;
}

.ticket_shape {
  border: 1px solid var(--primary-bg-color);
  background: var(--color-white);
  position: relative;
  padding: 10px 16px 12px;
  width: 190px !important;
  border-radius: 6px;
  box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
.ticket_shape::before, .ticket_shape::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 7px;
  border: 1px solid var(--primary-bg-color);
  border-bottom: 0;
  background: var(--color-white);
  border-radius: 100px 100px 0 0;
  left: -5px;
  top: 35px;
  transform: rotate(90deg);
}
.ticket_shape::after {
  left: auto;
  right: -5px;
  transform: rotate(-90deg);
}

.contents_title {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0;
}

.contents_poster {
  padding-top: 10px;
  margin-top: 8px;
  border-top: 1px dashed var(--primary-bg-color);
  position: relative;
}

.img_box {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 134%;
  border-radius: 3px;
  overflow: hidden;
}
.img_box::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #222, transparent);
  z-index: 1;
}
.img_box img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img_box .review_num {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 8px;
  bottom: 8px;
  font-size: 13px;
  color: var(--color-white);
}
.img_box .review_num .star {
  color: #FFD57E;
  margin-right: 2px;
}/*# sourceMappingURL=Home.module.css.map */